/* seccion 2 galerry grid */
.gallery {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin: 38px 0 62px;
  }
  .gallery__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px 0;
  }
  .gallery__image {
    width: 100%;
    height: auto;
  }
  /* break point para seccion 2 galeria grid */
@media screen and (min-width: 768px) {
    .gallery {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding-right: 24px;
      padding-left: 24px;
      margin: 64px 0 88px;
    }
    .gallery__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      max-width: 1184px;
    }
    .gallery__image {
      width: 100%;
    }
  }
  @media screen and (min-width: 1280px) {
    .gallery {
      position: relative;
      box-sizing: border-box;
      padding-left: 43px;
      padding-right: 53px;
      margin: 118px 0 92px;
    }
    .gallery__container {
      max-width: 1184px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 16px;
    }
    .gallery__image {
      width: 100%;
      height: auto;
    }
  }