/* seccion 3  places */

.places__card {
  display: grid;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

/* break point de 768 para places */

@media screen and (min-width: 768px) {
  .places {
    width: 100%;
    height: auto;
    position: relative;
  }
  .places__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 72px;
    gap: 48px 28px;
  }
}

/* breack point 1280 places */
@media screen and (min-width: 1280px) {
  .places {
    width: 100%;
    max-width: 859px;
    margin: auto;
  }
  .places__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    height: auto;
    margin-bottom: 80px;
    gap: 48px 40px;
  }
}
