/* seccion 3  places */

.places__card {
    display: grid;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
  }
  .place__title {
    margin: 0 16px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 32px;
    line-height: 1.2px;
  }
  .place__web {
    margin: 30px 16px;
  }
  .place__web-title {
    color: #aaa;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 8px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
  }
  .place__web-text {
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
  }
  .place__image {
    width: 100%;
    height: auto;
  }
  .place__image--l {
    display: none;
  }
  .place__paragraph {
    margin: 30px 16px 25px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
  }
  .place__btn {
    width: 264px;
    height: 48px;
    margin: 5px 16px 50px;
    padding: 0;
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
    text-decoration: none;
    color: #fff;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
  .place__btn:hover {
    background: linear-gradient(
      90deg,
      rgba(2, 120, 254, 0.25) 0%,
      rgba(0, 58, 123, 0.25) 99.98%
    );
  }
/* break point de 768 para places */

@media screen and (min-width: 768px) {
    .places {
      width: 100%;
      height: auto;
      position: relative;
    }
    .places__card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 72px;
      gap: 48px 28px;
    }
  
    .place__title {
      margin: 0;
      padding-top: 22px;
      font-family: "Inter", Arial, sans-serif;
      font-size: 42px;
      line-height: 1.5;
      font-weight: 900;
    }
    .place__web {
      margin: 0;
    }
    .place__web-title {
      color: #aaa;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 8px;
      font-family: "Inter", Arial, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 1;
    }
    .place__web-text {
      font-family: "Inter", Arial, sans-serif;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      margin: 0;
    }
    .place__image {
      width: 100%;
      height: auto;
      box-shadow: 10px 10px 25px 0px #00000080;
    }
    .place__image--s {
      display: none;
    }
    .place__image--l {
      display: block;
    }
  
    .place__image:hover {
      opacity: 50%;
    }
    .place__paragraphs {
      grid-column: 2;
      grid-row: 2/5;
    }
    .place__paragraph {
      margin: 0;
      margin-bottom: 25px;
      font-family: "Inter", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
    }
    .place__btn {
      width: 289px;
      height: 48px;
      margin: 0;
      padding: 0;
      background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
      text-decoration: none;
      color: #fff;
      font-family: "Inter", Arial, sans-serif;
      font-size: 14px;
      font-weight: 600;
    }
    .place__btn:hover {
      background: linear-gradient(
        90deg,
        rgba(2, 120, 254, 0.25) 0%,
        rgba(0, 58, 123, 0.25) 99.98%
      );
    }
  }
  /* breack point 1280 places */
  @media screen and (min-width: 1280px) {
    .places {
      width: 100%;
      max-width: 859px;
      margin: auto;
    }
    .places__card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
      height: auto;
      margin-bottom: 80px;
      gap: 48px 40px;
    }
  
    .place__title {
      margin: 0;
      padding: 0;
      font-family: "Inter", Arial, sans-serif;
      font-size: 72px;
      line-height: 1.5;
      font-weight: 900;
    }
    .place__web {
      padding-top: 130px;
    }
    .place__web-title {
      color: #aaa;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 8px;
      font-family: "Inter", Arial, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 1;
    }
    .place__web-text {
      font-family: "Inter", Arial, sans-serif;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
    }
    .place__image {
      width: 100%;
      height: anto;
      box-shadow: 10px 10px 25px 0px #00000080;
    }
    .place__image--s {
      display: none;
    }
    .place__image--l {
      display: block;
    }
  
    .place__image:hover {
      opacity: 50%;
    }
    .place__paragraphs {
      grid-column: 2;
      grid-row: 2/5;
    }
    .place__paragraph {
      margin: 0;
      margin-bottom: 25px;
      max-width: 484px;
      font-family: "Inter", Arial, sans-serif;
      font-size: 18px;
      line-height: 1.5;
    }
  
    .place__btn {
      width: 289px;
      height: 48px;
      padding: 0;
      border: 0;
      margin-top: 48px;
      background: linear-gradient(90deg, #0278fe 0%, #003a7b 100%);
      text-decoration: none;
      color: #fff;
      font-family: "Inter", Arial, sans-serif;
      font-size: 14px;
      font-weight: 600;
    }
    .place__btn:hover {
      background: linear-gradient(
        90deg,
        rgba(2, 120, 254, 0.25) 0%,
        rgba(0, 58, 123, 0.25) 99.98%
      );
    }
  }
    